<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
        <handlers>
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\leaftradepi\LTEpicor\.venv\Scripts\python.exe|C:\inetpub\wwwroot\leaftradepi\LTEpicor\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
    </system.webServer>
</configuration>
